# These are safe default values for local development

MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=fda_shortage_db
MYSQL_USER=pipeline_user
MYSQL_PASSWORD=pipeline_password
DB_USER=pipeline_user
DB_PASSWORD=pipeline_password
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=fda_shortage_db